<script>

const nodeRadius = 10;

function draw(nodes, springs) {
    ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);

    for(const node of nodes) {
        if (node.visible) {
            ctx.fillStyle = 'black';
            ctx.beginPath();
            ctx.arc(node.pos.x, node.pos.y, nodeRadius, 0, 2 * Math.PI);
            ctx.fill();
        }
    }
    for (const [key, value] of springs) {
        const [i, j] = key.split('-');
        const n1 = nodes[parseInt(i)];
        const n2 = nodes[parseInt(j)];

        if (parseInt(i) < 7 && parseInt(j) < 7) {
            ctx.beginPath();
            ctx.moveTo(n1.pos.x, n1.pos.y);
            ctx.lineTo(n2.pos.x, n2.pos.y);
            ctx.stroke();
        }
    }
}

// translate the event mouse position to the canvas coordinate system
function getMousePos(evt) {
    var rect = ctx.canvas.getBoundingClientRect();
    return {
        x: evt.clientX - rect.left,
        y: evt.clientY - rect.top
    };
}

// node being dragged by the mouse
let dragNode = null;

ctx.canvas.addEventListener('mousedown', onPress, false);
ctx.canvas.addEventListener('mousemove', onDrag, false);
ctx.canvas.addEventListener('mouseup', onRelease, false);

ctx.canvas.addEventListener('touchstart', onTouchStart, false);
ctx.canvas.addEventListener('touchmove', onTouchMove, false);
ctx.canvas.addEventListener('touchend', onRelease, false);
ctx.canvas.addEventListener('touchcancel', onRelease, false);

function onTouchStart(event) {
    for (const touch of event.changedTouches) {
        onPress(touch, 3);
    }
}

function onTouchMove(event) {
    if (dragNode) {
        // this avoids the screen from scrolling when dragging the node
        event.preventDefault();
    }
    for (const touch of event.changedTouches) {
        onDrag(touch);
    }
}

function onPress(event, sensibility = 1) {
    const { x, y } = getMousePos(event);
    
    nodes.forEach(node => {
        if (node.mass === Infinity) {
            return;
        }

        const dx = node.pos.x - x,
              dy = node.pos.y - y;
        const dist = Math.sqrt(dx * dx + dy * dy);

        if (dist <= nodeRadius * sensibility) {
            // the node was clicked

            dragNode = node;
            // set mass to infinity so the simulation won't move it (only the mouse)
            dragNode.mass = Infinity;
            dragNode.vel = {x: 0, y: 0};
        }
    });
}

function onDrag(event) {
    if (dragNode) {
        const { x, y } = getMousePos(event);
        dragNode.pos.x = x;
        dragNode.pos.y = y;
    }
}

function onRelease(event) {
    dragNode.mass = mass;
    dragNode = null;
}

</script>